body {
    background-color: #c4bdb9;
    color: #423935;
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
}

#container {
    width: 900px;
    margin-right: auto;
    margin-left: auto;
}

#board {
    width: 900px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#gallows {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

#alphabet {
    float:left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}

.letter {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.letter:hover {
    background-color: #6e625c;
    color: white;
    border: 3px solid white;
}

.letter.fail {
	color: #912e2a;
	border: 3px solid #912e2a;
	background: #6e625c;
	cursor: default;
}

.letter.success {
	color: #276b29;
	border: 3px solid #276b29;
	background: #6e625c;
	cursor: default;
}

.reset {
    color: green;
    cursor: pointer;
    font-size: 48px;
}

.reset:hover {
    color: white;
}

